@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600&display=swap');
:root {
    --prussion-blue:#003459;
    --ceruiean:#007ea7;
    --picton-blue:#00a8e8;
    --rich-black:#00171f;

}

*{
    box-sizing: border-box;
  
}

main{
    font-family: 'Roboto Mono', monospace, sans-serif;
    color: var(--ceruiean);
   
}
.card{
    width: 500px;
    height: 500px;
    
}

.card-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0px;
    flex-grow: 1;
    padding: 50px;
   
}
.body-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 85px;
    color: var(--picton-blue);
}
.body-item:not(:nth-child(3n)){
    border-right: 3px solid var(--ceruiean);
}
.body-item:not(:nth-last-child(-n+3)){
    border-bottom: 3px solid var(--ceruiean);
}